<img src="<%= "/pictures/#{@post_show.picture}" %>" width="1000px">
<br>
<h3>ニックネーム</h3>
<h2><%= @post_show.postname %></h2>
<h3>作品名</h3>
<h2><%= @post_show.picturename %></h2>
<h3>投稿日</h3>
<h2><%= @post_show.updated_at %></h2>