<img src="/picture/hometitle.png" class= "hometitle" width="100%" height="700px">

<hr>

<div class="homepost">
  <div>
    <h1>自分で描いた絵を投稿しよう！</h1>
    <h4>自分が描いた絵以外にも自分で撮った写真など投稿してみよう！</h4>
    <h4>動画のようにニックネーム、作品名、ファイルを指定して投稿してみよう！</h4>
    <h4>ニックネーム、作品名、ファイルのどれかを書かなかったり、指定しなかったりするとエラーが出るよ。</h4>
    <h4>早速投稿してみよう！</h4>
    <a href="/post" class="homepost_link">投稿</a>
  </div>
  <video controls muted autoplay playsinline src="/video/post.mp4" width="1000px" height="500px" class="postvideo"></video>
</div>

<hr>

<div class="homeshare">
  <div>
    <video controls muted autoplay playsinline src="/video/share.mp4" width="1000px" height="500px" class="sharevideo"></video>
  </div>
  <div>
    <h1>投稿された絵や写真を見に行こう！</h1>
    <h4>他の人が描いた絵や撮った写真を見てみよう！</h4>
    <h4>作品名、ニックネームのどちらかを指定してから検索すると部分一致する投稿だけが表示されるよ。</h4>
    <h4>画像や作品名をクリックすると画像の詳細ページへ飛べるよ！</h4>
    <h4>早速見に行こう！</h4>
    <a href="/share" class="homeshare_link">みんなの作品</a>
  </div>
</div>

<hr>

<div class="home_link">
  <a href="/post">
  <div class="i">
    <h2>投稿</h2>
    <h5>絵や写真を投稿してみよう！</h5>
  </div> 
  </a>
  <a href="/share">
  <div>
    <h2>みんなの作品</h2>
    <h5>みんなの作品を見に行こう！</h5>
  </div>
  </a>
</div>