header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color:rgb(237, 237, 237);
    align-items: center;
    position: fixed;
    top: 0%;
  }

body {
    margin: 0%;
    padding-top: 50px; 
}

body a{
  color: black;
  list-style: none;
  margin-left: 5em;

}




.homepost_link {
  margin-left: 400px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(177, 177, 177); 
  color: black;
  text-decoration:none;
}

.homepost_link:hover {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
}

.homepost {
  display: flex;
}

.postvideo {
  margin-top: 50px;
  margin-right: auto;
}

.homeshare_link {
  margin-left: 350px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(177, 177, 177); 
  color: black;
  text-decoration:none;
}

.homeshare_link:hover {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
}

.homeshare {
  display: flex;
}

.sharevideo {
  margin-top: 50px;
  margin-left: auto;
}

.home_link {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex; 
  justify-content: center;
}

.home_link a{
  text-decoration: none;
}

.home_link div {
  box-shadow: 2px 2px 4px;
  margin-left: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255); 
  color: black;
  border-radius:30px;
  
}

.home_link div:hover {
  box-shadow: 4px 4px 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius:30px;
}




.post_textbox_name {
  margin-top: 10px;
  margin-bottom: 0%;
}

.post_textbox {
  resize: none;
  width: 400px;  
	height: 20px; 
}

.error_message {
  color: red;
}




.picture {
  margin-top: 25px;
  margin-left: 0px;
  border: 10px solid rgb(255,180,0);
}

.picture_text {
  margin-left: 0px;
}

.search_bar {
  margin-left: 0px;
  margin-top: 10px;
  width: 400px;
  height: 20px;
}

.success_message {
  color: green;
}